
html {
    background-color: #16141c;
}

.navbar {
    display: block;
}

.navbar > div {
    color: black;
    padding: 10px;
    margin: 10px;
    margin-top: 40px;
    
}

.navbar > div > a {
    display: block;
    font-family: monospace;
    text-align: center;
    background-color: rgb(71, 71, 71);
    padding: 20px;
    margin: auto;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    width: 300px;
}

.navbar > div > a:hover {
    color: white;
    background-color: blueviolet;
}

.title {
    background-color: black;
    display: flex;
    padding: 20px;
    margin: -10px;
    font-family: monospace;
    text-align: center;
    color: white;
    
}

.title > h1 {
    margin: auto;
}