
html {
    background-color: #16141c;
}

/* TEXT PAGES STYLE */

.title {
    background-color: black;
    padding: 20px;
    margin: -20px;
    position: fixed;
    top: 2%;
    width: 100%;
    font-family: monospace;
    color: white;
    
}

.title > h1 {
    text-align: center;
    margin-top: -60px;
}

.space {
    margin: 120px;
}

#profile {
    display: block;
    margin: auto;
    border-radius: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
}

#home {
    font-size: 35px;
    padding: 30px;
    margin: -20px;
    margin-right: 1%;
    display: flex;
    color: white;
}

#home:hover {
    color: blueviolet;

}

.start {
    margin-bottom: 120px;
}

p {
    text-align: left;
    margin: 3%;
    z-index: -1;
    padding: 15px;
    font-family: monospace;
    font-size: 13px;
    color: white;
}

form > label {
    font-family: sans-serif;
    color: white;
    margin: 2px;
}

form {
    padding: 20%;
}

form > input, form > textarea {
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
}


#submit {
    background-color: blueviolet;
    border-color: blueviolet;
    color: white;
}

textarea {
  resize: none;
}

#check {
    font-size: 250px;
    padding: 30px;
    margin-left: 35%;
    display: flex;
    color: greenyellow;
}

#submit_text {
    color: greenyellow;
    font-family: sans-serif;
    padding: 30px;
    margin-left: 45%;
    display: flex;
    font-size: 30px;
}