
html {
    background-color: #16141c;
}

/* TEXT PAGES STYLE */

.title {
    background-color: black;
    display: flex;
    padding: 20px;
    margin: -20px;
    width: 100%;
    font-family: monospace;
    text-align: center;
    color: white;
}

.title > h1 {
    position: fixed;
    left: 50%;
}

#home {
    font-size: 35px;
    padding: 30px;
    margin: -20px;
    margin-right: 1%;
    display: flex;
    color: white;
}

#home:hover {
    color: blueviolet;

}

.timeline {
    position: relative;
    background-color: black;
    z-index: -1;
    padding-top: 200px;
    max-width: 1200px;
    content: "";
    width: 20px;
    left: 50%;
    top: 0;
    bottom: 0;
    border-radius: 10px;

}

.container {
    font-family: sans-serif;
    padding: 5px 10px;
    position: relative;
    width: 250px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: inherit;
    padding-left: 10px;
    color: white;
}

.left {
    margin-left: -300px;
}

h2 {
    color: grey;
    font-style: italic;
}